input {
  display: block;
  width: 97%;
  border-radius: 10px;
  border: 1px solid gray;
  height: 30px;
}

.submitButton {
  border-radius: 10px;
  border: 1px solid black;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 30px;
}
