.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: white;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tableContainer {
    width: max(50%, 400px);
    margin: auto
}